@using Tabro.WebApp.Models
@model FrontPageViewModel
@{
    Layout = "~/Views/_LayoutPage.cshtml";
}

    @foreach (var article in Model.Articles)
    {
        <section class="container-fluid article">
            <div class="row">
                <div class="col-md-12 articleHeaderBlock">
                    <div class="articleHeaderText">
                        <h2>@article.Header</h2>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12 articleInfoBlock">
                    <div class="articleInfoComponents">
                        <div class="articleInfoComponent">
                            <span>27'th of September, '14</span>
                        </div>
                        <div class="articleInfoComponent">
                            <a href="/Blogs/@article.ArticleKey.ToString()#disqus_thread">Comments</a>
                        </div>
                        <div class="articleInfoComponent">
                            <span>Category: </span>
                            <a href="#">Tech</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-3"></div>
                <div class="col-md-6 ">
                    <div class="articleContainer">
                        <p>
                            @article.Body;
                        </p>
                    </div>
                    <div class="articleFooter">
                        <div class="articleInfoComponent">
                            <a href="http://tabro.dk/#disqus_thread">Link</a>
                        </div>
                        <div class="articleInfoComponent" style="float:right">
                            <span>Share this post: </span>
                            <a href="#" class="btn btn-xs"><i class="fa fa-twitter fa-2x"></i></a>
                            <a href="#" class="btn btn-xs"><i class="fa fa-facebook fa-2x"></i></a>
                            <a href="#" class="btn btn-xs"><i class="fa fa-linkedin fa-2x"></i></a>
                        </div>
                    </div>
                </div>
                <div class="col-md-3"></div>
            </div>
        </section>
    }