.articleHeaderBlock {
    background-image: url("gfx/congruent_outline.png");
    background-repeat: repeat;
}

.articleHeaderText {
    display: block;
    font-weight: bold;
    margin: 0 auto;
    vertical-align: baseline;
    width: 800px;
}

.articleHeaderText h2 {
    color: white;
    font-size: 36px;
    font-weight: bold;
    margin: 40px 0 40px 0;
    overflow: hidden;
}

.articleInfoBlock {
    background-color: rgb(169, 33, 33);
    padding: 10px;
}

.articleInfoComponents {
    display: block;
    margin: 0 auto;
    width: 800px;
}

.articleInfoComponent {
    color: white;
    display: inline;
    font-size: 14px;
    font-weight: normal;
    margin-right: 10px;
}

.articleInfoComponent a {
    vertical-align: middle;
}

.articleInfoComponent span {
    vertical-align: middle;
}

.articleInfoComponent .glyphicon {
    margin-right: 5px;
    vertical-align: middle;
    color: white;
}


.articleInfoComponent:not(:first-child) {
    margin-left: 15px;
}

.articleContainer {
    border-color: lightgray;
    border-style: solid;
    border-width: 0 1px 0 1px;
    padding: 40px;
}

.articleContainer p {
    margin: 0 auto;
    width: 800px;
}

.articleFooter {
    background-color: rgb(169, 33, 33);
    margin: 0 auto;
    padding: 15px;
}

.article {
    margin-bottom: 75px;
}


.disqusContainer{
    border-color: lightgray;
    border-style: solid;
    border-width: 0 1px 0 1px;
    padding: 40px 40px 20px 20px;
}

/* Bootstrap overloads */

.navbar {
    background-image: url("gfx/crossword.png");
    background-repeat: repeat-x;
    border: 1px solid transparent;
    margin-bottom: 0;
    min-height: 50px;
    position: relative;
}

.col-md-12 {
    padding-left: 0;
    padding-right: 0;
}

@media (min-width: 768px) {
    .navbar .navbar-nav {
        display: inline-block;
        float: none;
        vertical-align: top;
        padding-left: 400px;
    }

    .navbar .navbar-collapse {
        text-align: center;
    }
}

.btn-social-icon {
    width: 20px;
    height: 20px;
}

.btn-social-icon>:first-child {
    line-height: 20px;
    font-size: 12px;
}